:root{
  --main-color: #006699;
}
body{
  background-color: #E3F1FC;
}
.navbar-brand img{
  width: 12%;
}
.navbar-brand p{
  font-size: 13px;
  font-weight: 400;
  color: var(--main-color);
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #3333;
  animation: typing 3s infinite alternate-reverse steps(77),blink infinite .3s;
}
@keyframes typing{
  from{
      width: 0;
  }
  to{
      width: 485px;
  }
}
@keyframes blink {
  from{
      border-color: #333333bd;
  }
  to{
      border-color: #33333300;
  }
  
}
.navbar-nav .nav-link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: var(--main-color);
  transition: .5s;
}
.navbar-nav .nav-link:hover::after{
  width: 100%;
}
header .col-md-6:nth-child(2) p{
  background-color: #f7f7f7;
  color: var(--main-color);
  padding: 25px;
  margin-left: -25px;
  line-height: 26px;
}
h1::before{
  content: '';
  position: absolute;
  bottom: 12px;
  left: 0;
  height: 1px;
  width: 295px;
  background-color: var(--main-color);
}
h1::after{
  content: '';
  position: absolute;
  bottom: 12px;
  right: 0;
  height: 1px;
  width: 295px;
  background-color: var(--main-color);
}
.sectionSt p span{
  color: var(--main-color);
}
.col-md-8{
  margin-top: -28px;
}
.link{
  color: var(--main-color);
  font-size: 17px;
  width: 100px;
  height: 100px;
  line-height: 90px;
  box-shadow: 0 3px 10px #888;
  border: 1px solid var(--main-color);
  transition: .5s;
}
.link:hover{
  box-shadow: -3px 8px 10px #888;
}
.offcanvas{
  height: 220px;
  position: absolute;
  top: 70% !important;
  background-color: #E3F1FC;
}
.offcanvas-header p{
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
}
.offcanvas-body p{
  font-size: 18px;
  font-weight: 500;
}
.div1{
  left: 250px;
}
.div2{
  left: 250px;
}
.div3{
  right: 250px;
}
.div4{
  right: 250px;
}
.div5{
  top: -60px;
  left: 500px;
}
.div6{
  left: 500px;
  bottom: -200px;
}
.scroll-top{
  position: fixed;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--main-color);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}
.scroll-top i{
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
 #preloader{
  display: flex;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}
#preloader:before,#preloader:after{
  content: "";
  background-color: var(--main-color);
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  transition: all 0.3s ease 0s;
  z-index: -1;
}
#preloader:after{
  left: auto;
  right: 0;
}
#preloader .line {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 1px;
  height: 280px;
  transition: all 0.8s ease 0s;
}
#preloader .line:before{
  content: "";
  position: absolute;
  background-color: #E3F1FC;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  transform: translateY(-50%);
  animation: lineincrease 1000ms ease-in-out 0s forwards;
}
#preloader .line:after{
  content: "";
  position: absolute;
  background-color: #999;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translateY(-100%);
  animation: linemove 1200ms linear 0s infinite;
  animation-delay: 2000ms;
}
#preloader.loaded .line{
  opacity: 0;
  height: 100% ;
}
#preloader.loaded .line:after{
  opacity: 0;
}
#preloader.loaded:before, #preloader.loaded:after{
  animation: preloaderfinish 300ms ease-in-out 500ms forwards;
}
@keyframes lineincrease{
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes linemove{
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }
  100%{
    width: 0%;
  }
} 